.clickbutton,.disablet {
  display: inline-block;
  position: relative;
  height: 100px;
  width: 150px;
  border-radius: 10px;
  font-size: 50px;
  margin-inline: 12px;
  margin: 10px 10px 10px 15px;
}

.clickbutton {
  background-color: beige;
  color: darkorange;
}

.disablet {
  background-color: chocolate;
  color: red;
}
