.App {
  display: flex;
  justify-content: center;
  align-items: center;


}
.CounterArea {
  position: center;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 100px;
  border-radius: 10px;
  width: 400px;
  height: 300px;
  border: 2px solid chocolate;
  background: moccasin;
}

.buttonarea {
  border-radius: 10px;
  border: 2px solid chocolate;
  margin: 15px 20px 10px 20px;
}
.inputarea {
  border-radius: 10px;
  border: 2px solid chocolate;
  margin: 10px 20px 10px 20px;
  height: 120px;
}

.error {
  text-align: center;
  font-size: xx-large;
  margin-top: 40px;
  color: red;
}
.message {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
}